<div class="app">
    <div class="app-esq">
        <div class="app-esq-text">
            <h2>Baixe nosso app para desfrutar mais!</h2>
            <p>Amet in elementum nulla scelerisque dui, egestas at. Elit consectetur turpis elementum amet vitae et etiam nec. Varius volutpat hac adipiscing tincidunt pretium.</p>
        </div>
        <div class="app-esq-btn">
            <a href="https://play.google.com/" target="_blank"><img src="../../assets/googlePlay.svg" alt=""> </a>
            <a href="https://www.apple.com/br/app-store/" target="_blank">  <img src="../../assets/appStore.svg" alt="">  </a>
        </div>
    </div>
    <div class="app-dir">
        <img src="../../assets/app.svg" alt="">
    </div>
</div>