.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.menu-dir ul {
    display: flex;
    list-style: none;
}
.menu-dir ul li{
    margin-left: 3rem;
}
.menu-dir ul li a{
    text-decoration: none;
    color: var(--color-gray);
}

@media only screen and (max-width: 760px) {
    .menu{
        justify-content: center;
    }
    .menu-dir{
        display: none;
    }
}
