<div class="planos">
    <div class="planos-text">
        <h2>Nossos Planos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi quis euismod ultrices.</p>
    </div>
    <div class="planos-box">
        <div class="planos-box-item">
            <h2>Bronze</h2>
            <h3>28</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi quis euismod ultrices.  </p>
            <div class="planos-box-item-btn"> Assinar </div>
        </div>
        <div class="planos-box-item">
            <h2>Prata</h2>
            <div class="preferido"></div>
            <h3>57</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi quis euismod ultrices.  </p>
            <div class="planos-box-item-btn"> Assinar </div>
        </div>
        <div class="planos-box-item">
            <h2>Ouro</h2>
            <h3>94</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi quis euismod ultrices.  </p>
            <div class="planos-box-item-btn"> Assinar </div>
        </div>
    </div>
</div>