<div class="funcoes">
    <h2>Como funciona</h2>
    <div class="funcoes-box">
        <div class="funcoes-box-item">
            <img src="../../assets/1.svg" alt="">
            <h3>Crie conexões</h3>
            <p> Lorem ipsum dolor sit amet, consecteteu.</p>
        </div>
        <div class="funcoes-box-item">
            <img src="../../assets/2.svg" alt="">
            <h3>100% gratuito</h3>
            <p> Lorem ipsum dolor sit amet, consecteteu.</p>
        </div>
        <div class="funcoes-box-item">
            <img src="../../assets/3.svg" alt="">
            <h3>Compartilhamento</h3>
            <p> Lorem ipsum dolor sit amet, consecteteu.</p>
        </div>
    </div>
</div>